@font-face {
    font-family: 'u8v';
    src: url('veb8fonts/u8v.woff2') format('woff2'),
        url('veb8fonts/u8v.woff') format('woff'),
        url('veb8fonts/u8v.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'hinglish';
    src: url('veb8fonts/hinglish.woff2') format('woff2'),
        url('veb8fonts/hinglish.woff') format('woff'),
        url('veb8fonts/hinglish.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'hnskrit';
    src: url('veb8fonts/hnskrit.woff2') format('woff2'),
        url('veb8fonts/hnskrit.woff') format('woff'),
        url('veb8fonts/hnskrit.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'u5p';
    src: url('veb8fonts/u5p.woff2') format('woff2'),
        url('veb8fonts/u5p.woff') format('woff'),
        url('veb8fonts/u5p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'u5h';
    src: url('veb8fonts/u5h.woff2') format('woff2'),
        url('veb8fonts/u5h.woff') format('woff'),
        url('veb8fonts/u5h.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'ssu5p';
    src: url('veb8fonts/ssu5p.woff2') format('woff2'),
        url('veb8fonts/ssu5p.woff') format('woff'),
        url('veb8fonts/ssu5p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'u5cdot';
    src: url('veb8fonts/u5cdot.woff2') format('woff2'),
        url('veb8fonts/u5cdot.woff') format('woff'),
        url('veb8fonts/u5cdot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'binary_vertical_u5c2';
    src: url('veb8fonts/binary_vertical_u5c2.woff2') format('woff2'),
        url('veb8fonts/binary_vertical_u5c2.woff') format('woff'),
        url('veb8fonts/binary_vertical_u5c2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'u5hp';
    src: url('veb8fonts/u5hp.woff2') format('woff2'),
        url('veb8fonts/u5hp.woff') format('woff'),
        url('veb8fonts/u5hp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

@font-face {
    font-family: 'binary_vertical_u5hp2';
    src: url('veb8fonts/binary_vertical_u5hp2.woff2') format('woff2'),
        url('veb8fonts/binary_vertical_u5hp2.woff') format('woff'),
        url('veb8fonts/binary_vertical_u5hp2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0-9F;
}

